body {
	color: #555;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	background: #E5E5E5;
}
a,
a:visited {
	color: #555;
	text-decoration: none;
}
.wrapper {
	margin: 2em auto;
	max-width: 92%;
	background: white;
	-moz-box-shadow: 0px 0px 5px 0px #AAA;
	-webkit-box-shadow: 0px 0px 5px 0px #AAA;
	box-shadow: 0px 0px 5px 0px #AAA;
	position: relative;
	padding: 15px 15px 110px 15px;
	min-height: 520px;
	overflow: hidden;
}

ul {
    margin: 0 0 0 0;
}

h2 {
	margin: 8px 0 4px 0;
}

.head {
	height: 42px;
	margin: 0 0 0 20px;
}
.head .left {
	width: 60%;
	float: left;
}
.head .right {
	width: 40%;
	float: right;
}
#friend-list {
	height: 0;
	overflow: hidden;
	z-index: 4;
	position: relative;
}
#friend-list.current {
	height: 120px;
}
.nav {
	overflow: hidden;
	position: absolute;
	top: 95px;
	left: 35px;
	z-index: 2;
}

.nav .subnav {
	display: block;
	height: 0px;
	overflow: hidden;
	transition: height 0.5s;
	-moz-transition: height 0.5s; /* Firefox 4 */
	-webkit-transition: height 0.5s; /* Safari and Chrome */
	-o-transition: height 0.5s; /* Opera */
}

.nav .current .subnav {
	height: 196px;
}

.headline {
	padding: 15px 15px;
	background: #59b252;
	width: 120px;
	margin: 0;
	background: -moz-linear-gradient(top, #99d252, #59b252);
	background: -webkit-linear-gradient(top, #99d252, #59b252);
	background: -o-linear-gradient(top, #99d252, #59b252);
	background: -ms-linear-gradient(top, #99d252, #59b252);
	background: linear-gradient(top, #99d252, #59b252);
	border: 1px solid #525255;
	border-left: 1px solid rgba(255, 255, 255, 0.2);
	color: #fff;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2);
	-moz-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2);
	box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2);
}
.nav li:first-child .headline {
	border-left: 1px solid #525255;
}

.headline:hover {
	cursor: pointer;
	background-image: none;
	background-color: #59b252;
}
.headline:active,
.headline.current {
	background: #49a242;
	-webkit-box-shadow: inset 0 2px 3px rgba(0,0,0, 0.2);
	-moz-box-shadow: inset 0 2px 3px rgba(0,0,0, 0.2);
	box-shadow: inset 0 2px 3px rgba(0,0,0, 0.2);
}

.categorie {
	display: inline-block;
	text-align: center;
	float: left;
	margin: 0;
}

.btn {
	width: 120px;
	background: #f5f5f5;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 10px 15px;
}
.btn:active {	
	-webkit-box-shadow: inset 0 2px 3px rgba(0,0,0, 0.2);
	-moz-box-shadow: inset 0 2px 3px rgba(0,0,0, 0.2);
	box-shadow: inset 0 2px 3px rgba(0,0,0, 0.2);
	color: #fafafa;
}
.btn:hover {
	cursor: pointer;
	background: #0166aa;
	background: -moz-linear-gradient(#04acec, #0166aa);
	background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0166aa));
	background: -webkit-linear-gradient(#04acec, #0166aa);
	background: -o-linear-gradient(#04acec, #0166aa);
	background: -ms-linear-gradient(#04acec, #0166aa);
	background: linear-gradient(#04acec, #0166aa);
	text-shadow: 0 1px 0 #000;
	color: #fafafa;
}

#loader {
	width: 32px;
	height: 32px;
	background-image: url('../img/loading.gif');
	margin: 140px auto;
	display: none;
}

.container {
	top: 100px;
	position: relative;
	z-index: 1;
	min-width: 400px;
	height: 400px;
	margin: 0 auto;
}

.container.type1of2 {
	margin: 0;
	width: 49%;
	float: left;
	border: 1px solid #ccc;
	margin-right: 5px;
	padding: 1px;
}
.type1of2:first-child {
	border-right: 2px solid #ccc;
}
.logout {
	position: absolute;
	top: 24px;
	right: 24px;
	color: #333;
	background: #ddd;
	border: 1px solid #aaa;
	border-radius: 6px;
	font-size: 12px;
}
.logout:hover {
	background: #ccc;
}
.logout a {
	padding: 5px;
	display: block;
}

@media only screen and (max-width: 700px) {
	body {
		font-size: 14px;
	}
	.wrapper {
		margin: 0;
		max-width: 98%;
		padding: 2px;
		background: fff;
	}
	.headline,
	.btn {
		padding: 10px 5px;
		width: 95px;
	}
	.nav {
		top: 15px;
		left: 15px;
	}
	#container {
		top: 70px;
	}
}
