body {
	color: #555;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

ul {
    margin: 0 0 0 0;
}

.nav {
	overflow: hidden;
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 2;
}

.nav .subnav {
	display: block;
	height: 0px;
	overflow: hidden;
	transition: height 0.5s;
	-moz-transition: height 0.5s; /* Firefox 4 */
	-webkit-transition: height 0.5s; /* Safari and Chrome */
	-o-transition: height 0.5s; /* Opera */
}

.nav .current .subnav {
	height: 196px;
}

.headline {
	padding: 15px 15px;
	background: #eee;
	width: 120px;
	margin: 0;
	background-image: -moz-linear-gradient(top, #99d252, #59b252);
	background-image: -ms-linear-gradient(top, #99d252, #59b252);
	background-image: -webkit-linear-gradient(top, #99d252, #59b252);
	background-image: linear-gradient(top, #99d252, #59b252);
	border: 1px solid #525255;
	border-left: 1px solid rgba(255, 255, 255, 0.2);
	color: #fff;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2);
	-moz-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2);
	box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2);
}
.nav li:first-child .headline {
	border-left: 1px solid #525255;
}

.headline:hover {
	cursor: pointer;
	background-image: none;
	background-color: #59b252;
}
.headline:active,
.headline.current {
	background: #49a242;
	-webkit-box-shadow: inset 0 2px 3px rgba(0,0,0, 0.2);
	-moz-box-shadow: inset 0 2px 3px rgba(0,0,0, 0.2);
	box-shadow: inset 0 2px 3px rgba(0,0,0, 0.2);
}

.categorie {
	display: inline-block;
	text-align: center;
	float: left;
	margin: 0;
}

.btn {
	width: 120px;
	background: #f5f5f5;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 10px 15px;
}
.btn:active {
	
	-webkit-box-shadow: inset 0 2px 3px rgba(0,0,0, 0.2);
	-moz-box-shadow: inset 0 2px 3px rgba(0,0,0, 0.2);
	box-shadow: inset 0 2px 3px rgba(0,0,0, 0.2);
	color: #fafafa;
}
.btn:hover {
	cursor: pointer;
	background: #0166aa;
	background: -moz-linear-gradient(#04acec, #0166aa);
	background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0166aa));
	background: -webkit-linear-gradient(#04acec, #0166aa);
	background: -o-linear-gradient(#04acec, #0166aa);
	background: -ms-linear-gradient(#04acec, #0166aa);
	background: linear-gradient(#04acec, #0166aa);
	text-shadow: 0 1px 0 #000;
	color: #fafafa;
}

#loader {
	width: 32px;
	height: 32px;
	background-image: url('../img/loading.gif');
	margin: 140px auto;
	display: none;
}

#container {
	top: 60px;
	position: relative;
	z-index: 1;
}